.indented {
  h4 {
    margin-top: 0;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
  }

  ul {
    margin-bottom: 0;
    padding: 4px 4px 4px 0;
    font-size: 0.75rem;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5rem;
  }

  a {
    color: #717171;
    font-size: inherit;

    &:hover {
      color: #212529;
    }

    &.active {
      color: #212529;
    }
  }

  span {
    color: #717171;
  }
}

.title {
  font-size: 1rem !important;
}

.underline {
  text-decoration: underline;
}

.sticky {
  position: sticky;
  top: 125px;
  margin-bottom: 1rem;
  padding: 1rem;
}
