:root {
  --background-body: #202122;
  --text-main: #fff;
  --text-secondary: #ccc;
  --primary-color: #548e9b;
  --font-family-serif: Merriweather, serif;
  --font-family-sans: "Fira Sans", sans-serif;
  --brand-orange: #f38914;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: var(--font-family-serif);
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--background-body);
  color: var(--text-main);
  max-width: 1200px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  max-width: 42rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 2rem;
  margin: 0 0 0.5rem 0;

  @media screen and (min-width: 800px) {
    font-size: 3rem;
  }
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

ul,
ol {
  font-size: 1rem;
  line-height: 1.75em;
  margin: 1.2em 0;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--brand-orange);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

code {
  font-family: "SF Mono", menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: var(--brand-orange);
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
  padding: 1.2em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

table {
  border-collapse: collapse;
  font-family: var(--font-family-sans);
  font-size: 1.125em;
  margin: 2em 0;
}

th {
  border-bottom: 2px solid #cccccc;
  padding: 0.4em 0.8em;
}

td {
  padding: 0.4em 0.8em;
}

article h2 {
  margin: 3rem 0 1.5rem 0;
  text-decoration: underline;
  text-underline-offset: 8px;
  line-height: 1.8;
  text-decoration-color: var(--brand-orange);
  text-decoration-thickness: 4px;
}

article h3 {
  margin: 3rem 0 1.5rem 0;
  text-decoration: underline;
  text-underline-offset: 8px;
  line-height: 1.8;
  text-decoration-color: var(--brand-orange);
  text-decoration-thickness: 4px;
}
article h4 {
  margin: 3rem 0 1.5rem 0;
  text-decoration: underline;
  text-underline-offset: 8px;
  line-height: 1.8;
  text-decoration-color: var(--brand-orange);
  text-decoration-thickness: 4px;
}

article h5 {
  margin: 3rem 0 1.5rem 0;
  text-decoration: underline;
  text-underline-offset: 8px;
  line-height: 1.8;
  text-decoration-color: var(--brand-orange);
  text-decoration-thickness: 4px;
}

hr {
  border: 1px solid var(--brand-orange);
}
