---
import DefaultLayout from "../layouts/Default.astro"
---

<DefaultLayout
  title="404 Page Not Found"
  description="Sorry the requested page could not be found"
>
  <h1>404</h1>
  <h2>Content was either not found, or removed</h2>
  <hr />
  <p>
    I have been hard at work re-structuring the website recently, and that means
    that some old posts have been removed. I&apos;m really sorry about that, but
    content gets old and out of date, so rather than giving you false or
    incorrect information, I have opted to remove it.
  </p>
  <p>Please ensure your bookmarks are up to date.</p>
</DefaultLayout>
