<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Goodbye</h1>
    <p>Thanks for your support over the last 10 years</p>
    <p>This blog is no longer available.</p>
    <p>
      You can find source code over on <a href="https://github.com/jpreecedev">GitHub</a>.
    </p>
  </body>
</html>
