<div class="banner">
    <p>After nearly 10 years, as of 4th April 2023, this blog will no longer maintained and will soon be deleted.</p>
    <p>Please consider all this content to be out of date.</p>
    <p>Thank you for your support over the years!</p>
    <p>Jon Preece</p>
</div>

<style>
    .banner {
        background-color: #f44336;
        padding: 32px;
        margin-bottom: 32px;
        border-radius: 8px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
</style>